@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* Forces inheritance */
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #e8d6d6;
  color: #2d2d2d; }

body {
  font-size: 1.6rem; }

.title-large {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem 0;
  font-family: "Montserrat", sans-serif; }

.title-small {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  margin: 1rem 0;
  color: #565468;
  letter-spacing: 2px;
  text-transform: lowercase; }
  .title-small::before {
    content: '/';
    color: #e74c3c;
    font-family: "Montserrat", sans-serif;
    font-weight: 400; }

.section-about {
  height: 100rem;
  margin: 6rem 0; }

@keyframes scroll {
  0% {
    top: 0; }
  30% {
    top: 0; }
  44% {
    top: -7.33rem; }
  58% {
    top: -14.66rem; }
  72% {
    top: -22rem; }
  86% {
    top: -29.33rem; }
  100% {
    top: -36.66rem; } }

.hero__shadow {
  filter: drop-shadow(0 1px 2px black); }

.hero__clipped {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  min-height: 100vh;
  background-color: #2d2d2d;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90vh, 55vw 92vh, 50vw 96vh, 45vw 92vh, 0% 90vh); }

.title {
  font-size: 6rem;
  display: flex;
  align-items: baseline; }
  .title__name {
    color: #e8d6d6;
    font-weight: 300; }
  .title__descriptors-box {
    margin-left: 2rem;
    font-weight: 700;
    overflow: hidden;
    height: 8rem;
    position: relative; }
  .title__descriptor {
    color: #e74c3c;
    position: relative;
    top: 0;
    animation: scroll 8s infinite 0s ease; }

.social {
  margin: 0 auto; }
  .social a {
    text-decoration: none; }
  .social__icon-box {
    text-align: center;
    display: inline-block;
    margin: 0 2rem;
    width: 8.2rem; }
  .social__icon {
    fill: #e8d6d6;
    width: 4rem;
    height: 4rem;
    transition: all 0.2s;
    backface-visibility: none; }
  .social__icon-label {
    font-weight: 700;
    text-transform: lowercase;
    margin-top: 1rem;
    opacity: 0;
    color: #e8d6d6;
    transition: all 0.2s ease-out; }
  .social__icon-box:hover > .social__icon {
    transform: scale(1.5) translateY(-3px) rotate(360deg); }
  .social__icon-box:active > .social__icon {
    transform: scale(1.5) translateY(1px) rotate(360deg); }
  .social__icon-box:hover > .social__icon-label {
    opacity: 1; }
  .social__icon-box:active > .social__icon-label {
    opacity: 1;
    transform: translateY(4px); }

.section-projects {
  margin: -2rem 3rem 0 3rem; }
  .section-projects > .title-large {
    text-align: center; }

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 2rem 6rem 0; }
  .project__link-list {
    margin: 1rem 0;
    position: relative; }
  .project__link, .project__link:visited {
    color: #e74c3c;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    display: inline-block;
    transition: all 0.2s;
    text-transform: lowercase; }
    .project__link:not(:last-of-type)::after, .project__link:visited:not(:last-of-type)::after {
      content: ' / ';
      color: #565468; }
  .project__link:hover {
    color: #69231b; }
  .project__description {
    margin: 1rem 0;
    line-height: 1.6; }
    .project__description a,
    .project__description a:visited {
      color: #e74c3c;
      text-decoration: none; }
    .project__description a:hover {
      text-decoration: underline; }
  .project__tag-list {
    margin: 1.5rem 0; }
  .project__tag {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    color: #e8d6d6;
    display: inline-block;
    background: #6a6767;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.1s; }
    .project__tag:not(:last-child) {
      margin-right: 0.25rem; }
    .project__tag:hover {
      color: #e8d6d6;
      background-color: #e74c3c;
      cursor: pointer;
      transform: translateY(-3px); }
    .project__tag:active {
      color: #e8d6d6;
      background-color: #e74c3c;
      cursor: pointer;
      transform: translateY(-1px); }
