@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-8rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(15rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(15rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes bounceDownAndScale {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(2rem); } }

@keyframes fadeInAndGrow {
  0% {
    opacity: 0;
    transform: scale(0); }
  60% {
    opacity: 1;
    transform: scale(1.5); }
  100% {
    opacity: 1;
    transform: scale(1); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* Forces inheritance */
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #e8d6d6;
  color: #2d2d2d; }

body {
  font-size: 1.6rem; }

.title-large {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 3rem 0;
  font-family: "Montserrat", sans-serif; }
  @media only screen and (max-width: 40.625em) {
    .title-large {
      font-size: 5rem; } }
  @media only screen and (max-width: 34.375em) {
    .title-large {
      font-size: 4rem; } }

.title-small {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  margin: 1rem 0;
  color: #565468;
  letter-spacing: 2px;
  text-transform: lowercase; }
  @media only screen and (max-width: 53.125em) {
    .title-small {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 40.625em) {
    .title-small {
      font-size: 3rem; } }
  @media only screen and (max-width: 34.375em) {
    .title-small {
      font-size: 2.75rem; } }
  @media only screen and (max-width: 25em) {
    .title-small {
      font-size: 2.5rem; } }
  .title-small::before {
    content: '/';
    color: #e74c3c;
    font-family: "Montserrat", sans-serif;
    font-weight: 400; }

.section-about {
  background-color: #e74c3c;
  transform: skewY(6deg);
  padding: 20rem 10rem;
  margin: 22rem 0; }
  @media only screen and (max-width: 62.5em) {
    .section-about {
      padding: 15rem 0;
      margin: 20rem 0; } }

.about {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 53.125em) {
    .about {
      display: block; } }
  .about__title {
    text-transform: uppercase;
    color: #e8d6d6;
    font-size: 10rem;
    transform: skewY(-6deg) rotate(-90deg); }
    @media only screen and (max-width: 53.125em) {
      .about__title {
        font-size: 6rem;
        transform: skewY(-6deg);
        text-align: center; } }
  .about__description {
    transform: skewY(-6deg);
    font-size: 2rem;
    color: #e8d6d6;
    margin-right: 10vw;
    margin-left: -4rem;
    max-width: 70rem; }
    @media only screen and (max-width: 53.125em) {
      .about__description {
        max-width: none;
        margin: 5rem 12rem; } }
    @media only screen and (max-width: 40.625em) {
      .about__description {
        max-width: none;
        margin: 5rem 8rem; } }
    @media only screen and (max-width: 34.375em) {
      .about__description {
        margin: 5rem 4rem; } }
    @media only screen and (max-width: 25em) {
      .about__description {
        margin: 2rem 2rem; } }
    .about__description > p {
      margin-bottom: 2.2rem;
      line-height: 1.6; }
      @media only screen and (max-width: 53.125em) {
        .about__description > p {
          text-align: center; } }
      @media only screen and (max-width: 25em) {
        .about__description > p {
          text-align: justify; } }

.hero__shadow {
  filter: drop-shadow(0 1px 2px black); }

.hero__clipped {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #2d2d2d;
  background-image: linear-gradient(to bottom, #2d2d2d 0%, #2d2d2d 60%, #463e31 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90vh, 50% 95vh, 0% 90vh);
  padding-bottom: 15%; }

.title {
  flex-grow: 3;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3rem;
  color: #e8d6d6;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .title__name {
    font-size: 18rem;
    font-weight: 100;
    animation: slideRight 0.4s cubic-bezier(0.34, 1.56, 0.64, 1); }
    @media only screen and (max-width: 62.5em) {
      .title__name {
        font-size: 15rem; } }
    @media only screen and (max-width: 53.125em) {
      .title__name {
        font-size: 12rem; } }
    @media only screen and (max-width: 40.625em) {
      .title__name {
        font-size: 9rem; } }
    @media only screen and (max-width: 34.375em) {
      .title__name {
        font-size: 7.5rem; } }
    @media only screen and (max-width: 25em) {
      .title__name {
        font-size: 5rem; } }
  .title__role {
    font-size: 3rem;
    font-weight: 600;
    color: #e74c3c;
    animation: slideUp 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) 0.4s;
    animation-fill-mode: both; }
    @media only screen and (max-width: 53.125em) {
      .title__role {
        font-size: 2.75rem;
        font-weight: 400; } }
    @media only screen and (max-width: 40.625em) {
      .title__role {
        padding-top: 1rem;
        font-size: 2.4rem; } }
    @media only screen and (max-width: 34.375em) {
      .title__role {
        font-size: 2rem;
        text-transform: uppercase; } }
    @media only screen and (max-width: 25em) {
      .title__role {
        padding-top: 2rem;
        font-size: 1.5rem; } }

.social {
  flex-grow: 1;
  margin: 0 auto; }
  .social a {
    text-decoration: none; }
  .social__icon-box {
    text-align: center;
    display: inline-block;
    margin: 0 2rem;
    width: 8.2rem; }
    @media only screen and (max-width: 53.125em) {
      .social__icon-box {
        margin: 0 1rem; } }
    @media only screen and (max-width: 40.625em) {
      .social__icon-box {
        margin: 0; } }
    @media only screen and (max-width: 34.375em) {
      .social__icon-box {
        width: 6.5rem; } }
    @media only screen and (max-width: 25em) {
      .social__icon-box {
        width: 4.5rem; } }
    .social__icon-box--1 {
      animation: fadeInAndGrow 0.4s backwards ease 0.6s; }
    .social__icon-box--2 {
      animation: fadeInAndGrow 0.4s backwards ease 0.8s; }
    .social__icon-box--3 {
      animation: fadeInAndGrow 0.4s backwards ease 1s; }
  .social__icon {
    fill: #e8d6d6;
    width: 4rem;
    height: 4rem;
    transition: all 0.2s;
    backface-visibility: none; }
    @media only screen and (max-width: 53.125em) {
      .social__icon {
        width: 3rem;
        height: 3rem; } }
    @media only screen and (max-width: 40.625em) {
      .social__icon {
        width: 2.5rem;
        height: 2.5rem; } }
    @media only screen and (max-width: 34.375em) {
      .social__icon {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 25em) {
      .social__icon {
        width: 1.5rem;
        height: 1.5rem; } }
  .social__icon-label {
    font-weight: 700;
    text-transform: lowercase;
    margin-top: 1rem;
    opacity: 0;
    color: #e8d6d6;
    transition: all 0.2s ease-out; }
    @media only screen and (max-width: 34.375em) {
      .social__icon-label {
        font-size: 1.2rem; } }
    @media only screen and (max-width: 25em) {
      .social__icon-label {
        font-size: 1rem; } }
  .social__icon-box:hover > .social__icon {
    transform: scale(1.5) translateY(-3px) rotate(360deg); }
  .social__icon-box:active > .social__icon {
    transform: scale(1.5) translateY(1px) rotate(360deg); }
  .social__icon-box:hover > .social__icon-label {
    opacity: 1; }
  .social__icon-box:active > .social__icon-label {
    opacity: 1;
    transform: translateY(4px); }

.down-arrow {
  text-align: center; }
  .down-arrow__text, .down-arrow__text:visited {
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.6);
    animation: bounceDownAndScale 0.5s ease-in-out alternate infinite 2s both; }

.section-projects {
  max-width: 120rem;
  margin: -2rem auto 0 auto;
  padding: 0 3rem; }
  .section-projects > .title-large {
    text-align: center; }
  @media only screen and (max-width: 40.625em) {
    .section-projects {
      padding: 0 2rem; } }
  @media only screen and (max-width: 34.375em) {
    .section-projects {
      padding: 0 1.5rem; } }
  @media only screen and (max-width: 25em) {
    .section-projects {
      padding: 0 1rem; } }

.project {
  margin: 0rem 2rem 6rem 0; }
  .project__link-list {
    margin: 1rem 0;
    position: relative; }
  .project__link, .project__link:visited {
    color: #e74c3c;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    display: inline-block;
    transition: all 0.2s;
    text-transform: lowercase; }
    .project__link:not(:last-of-type)::after, .project__link:visited:not(:last-of-type)::after {
      content: ' / ';
      color: #565468; }
  .project__link:hover {
    color: #69231b; }
  .project__description {
    margin: 1rem 0;
    line-height: 1.6; }
    .project__description a,
    .project__description a:visited {
      color: #e74c3c;
      text-decoration: none; }
    .project__description a:hover {
      text-decoration: underline; }
  .project__tag-list {
    margin: 1.5rem 0; }
  .project__tag {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    color: #e8d6d6;
    display: inline-block;
    background: #6a6767;
    padding: 0.6rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.1s; }
    .project__tag:not(:last-child) {
      margin-right: 0.25rem; }
    .project__tag:hover {
      color: #e8d6d6;
      background-color: #e74c3c;
      cursor: pointer;
      transform: translateY(-3px); }
    .project__tag:active {
      color: #e8d6d6;
      background-color: #e74c3c;
      cursor: pointer;
      transform: translateY(-1px); }

.footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin: 2rem auto; }
