.hero {
  &__shadow {
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 1));
  }

  &__clipped {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: $grey-dark;
    background-image: linear-gradient(
      to bottom,
      $grey-dark 0%,
      $grey-dark 60%,
      $grey-dark-gold 100%
    );
    clip-path: polygon(0% 0%, 100% 0%, 100% 90vh, 50% 95vh, 0% 90vh);
    padding-bottom: 15%;
  }
}

.title {
  flex-grow: 3;
  font-family: $font-mont;
  letter-spacing: 0.3rem;
  color: $grey-light;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__name {
    font-size: 18rem;
    font-weight: 100;
    animation: titleEffect 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
    animation-fill-mode: both;
    transform-origin: center bottom;
    perspective: 500px;

    @media only screen and (max-width: $bp-largest) {
      font-size: 15rem;
    }
    @media only screen and (max-width: $bp-large) {
      font-size: 12rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 9rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 7.5rem;
    }

    @media only screen and (max-width: $bp-xsmall) {
      font-size: 5rem;
    }
  }

  &__role {
    font-size: 3rem;
    font-weight: 600;
    color: $red;
    animation: slideUp 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) 0.6s;
    animation-fill-mode: both;

    @media only screen and (max-width: $bp-large) {
      font-size: 2.75rem;
      font-weight: 400;
    }

    @media only screen and (max-width: $bp-medium) {
      padding-top: 1rem;
      font-size: 2.4rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 2rem;
      text-transform: uppercase;
    }

    @media only screen and (max-width: $bp-xsmall) {
      padding-top: 2rem;
      font-size: 1.5rem;
    }
  }
}

.social {
  flex-grow: 1;
  margin: 0 auto;

  & a {
    text-decoration: none;
  }

  &__icon-box {
    text-align: center;
    display: inline-block;
    margin: 0 2rem;
    width: 8.2rem;

    @media only screen and (max-width: $bp-large) {
      margin: 0 1rem;
    }

    @media only screen and (max-width: $bp-medium) {
      margin: 0;
    }
    @media only screen and (max-width: $bp-small) {
      width: 6.5rem;
    }

    @media only screen and (max-width: $bp-xsmall) {
      width: 4.5rem;
    }

    &--1 {
      animation: fadeInAndGrow 0.4s backwards ease 0.8s;
    }
    &--2 {
      animation: fadeInAndGrow 0.4s backwards ease 1s;
    }
    &--3 {
      animation: fadeInAndGrow 0.4s backwards ease 1.2s;
    }
  }

  &__icon {
    fill: $grey-light;
    width: 4rem;
    height: 4rem;
    transition: all 0.2s;
    backface-visibility: none;

    @media only screen and (max-width: $bp-large) {
      width: 3rem;
      height: 3rem;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 2.5rem;
      height: 2.5rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 1.4rem;
    }

    @media only screen and (max-width: $bp-xsmall) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__icon-label {
    font-weight: 700;
    text-transform: lowercase;
    margin-top: 1rem;
    opacity: 0;
    color: $grey-light;
    transition: all 0.2s ease-out;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.2rem;
    }

    @media only screen and (max-width: $bp-xsmall) {
      font-size: 1rem;
    }
  }

  &__icon-box:hover > &__icon {
    transform: scale(1.5) translateY(-3px) rotate(360deg);
  }

  &__icon-box:active > &__icon {
    transform: scale(1.5) translateY(1px) rotate(360deg);
  }

  &__icon-box:hover > &__icon-label {
    opacity: 1;
  }

  &__icon-box:active > &__icon-label {
    opacity: 1;
    transform: translateY(4px);
  }
}

.down-arrow {
  text-align: center;
  margin-bottom: 5rem;
  &__text,
  &__text:visited {
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 3rem;
    color: rgba(256, 256, 256, 0.2);
    animation: bounceDownAndScale 0.5s ease-in-out alternate infinite 2s both;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2rem;
    }
  }
}
