.hero {
  &__shadow {
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 1));
  }

  &__clipped {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: $grey-dark;
    background-image: linear-gradient(
      to bottom,
      $grey-dark 0%,
      $grey-dark 60%,
      $grey-dark-gold 100%
    );
    clip-path: polygon(0% 0%, 100% 0%, 100% 90vh, 50% 95vh, 0% 90vh);
    padding-bottom: 15%;
  }
}

.title {
  flex-grow: 2;
  font-family: $font-mont;
  letter-spacing: 0.3rem;
  color: $grey-light;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__name {
    font-size: 18rem;
    font-weight: 100;
    animation: slideRight 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  &__role {
    font-size: 3rem;
    font-weight: 600;
    color: $red;
    animation: slideUp 0.2s cubic-bezier(0.34, 1.56, 0.64, 1) 0.4s;
    animation-fill-mode: both;
  }
}

.social {
  flex-grow: 1;
  margin: 0 auto;

  & a {
    text-decoration: none;
  }

  &__icon-box {
    text-align: center;
    display: inline-block;
    margin: 0 2rem;
    width: 8.2rem;

    &--1 {
      animation: fadeInAndGrow 0.4s backwards ease 0.7s;
    }
    &--2 {
      animation: fadeInAndGrow 0.4s backwards ease 0.9s;
    }
    &--3 {
      animation: fadeInAndGrow 0.4s backwards ease 1.1s;
    }
  }

  &__icon {
    fill: $grey-light;
    width: 4rem;
    height: 4rem;
    transition: all 0.2s;
    backface-visibility: none;
  }

  &__icon-label {
    font-weight: 700;
    text-transform: lowercase;
    margin-top: 1rem;
    opacity: 0;
    color: $grey-light;
    transition: all 0.2s ease-out;
  }

  &__icon-box:hover > &__icon {
    transform: scale(1.5) translateY(-3px) rotate(360deg);
  }

  &__icon-box:active > &__icon {
    transform: scale(1.5) translateY(1px) rotate(360deg);
  }

  &__icon-box:hover > &__icon-label {
    opacity: 1;
  }

  &__icon-box:active > &__icon-label {
    opacity: 1;
    transform: translateY(4px);
  }
}

.down-arrow {
  text-align: center;
  &__text,
  &__text:visited {
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    color: rgba(256, 256, 256, 0.6);
    animation: bounceDownAndScale 0.5s ease-in-out alternate infinite 2s both;
  }
}
