*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* Forces inheritance */
  box-sizing: inherit;
}

html {
  // Defines 1rem = 10px assuming standard 16px browser font size
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $font-open;
  background-color: $grey-light;
  color: $red;
}
