body {
  font-size: 1.6rem;
}

.title-large {
  font-size: 6rem;
  text-transform: uppercase;
  //text-shadow: 5px 5px 15px #c1b2b2, -5px -5px 15px #fffafa;
  letter-spacing: 2px;
  margin: 3rem 0;
  font-family: $font-mont;

  @media only screen and (max-width: $bp-medium) {
    font-size: 5rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 4rem;
  }
}

.title-small {
  font-size: 4rem;
  font-family: $font-mont;
  margin: 1rem 0;
  color: $grey-blue;
  letter-spacing: 2px;
  text-transform: lowercase;

  @media only screen and (max-width: $bp-large) {
    font-size: 3.5rem;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 2.75rem;
  }

  @media only screen and (max-width: $bp-xsmall) {
    font-size: 2.5rem;
  }

  &::before {
    content: '/';
    color: $red;
    font-family: $font-mont;
    font-weight: 400;
  }

  &--dark {
  }

  &--light {
  }
}
